@charset "UTF-8";

/*!
 =========================================================
 * Custom CSS - v1.0
 =========================================================
* 
* Author: Nagarjun Nagesh
* 
* All the Custom CSS for EveryRupee gos in here
*/

.expandedNavigationBar {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
    height: 64px;
}

.navigationBar {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 64px;
}

.logoHeader {
    color: inherit;
    padding-left: 24px;
    text-decoration: none;
}

.navigationLinksContainer {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navigationLink {
    display: inline-block;
    margin-left: 48px;
    white-space: nowrap;
}

.headingUnstyledAnchor {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: unset;
    text-align: start;
}

.headingLinkName {
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: normal;
    color: rgb(4, 13, 20);
    margin: 0px;
    text-decoration: unset;
}

.spacer {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.expandedNavContent {
    padding-right: 1.4rem;
    display: flex;
}

.loginUnstyledAnchor {
    color: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    position: static;
    white-space: nowrap;
    cursor: pointer;
    text-align: start;
    text-decoration: none;
    overflow: hidden;
    border-color: rgb(4, 13, 20);
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}

.loginContent {
    position: static;
    visibility: inherit;
}

.loginText {
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: normal;
    color: rgb(4, 13, 20);
    margin: 0px;
    text-decoration: unset;
}

.signupButtonWrapper {
    margin-left: 30px;
}

.signupContent {
    position: relative;
    visibility: inherit;
}

.signUpText {
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: normal;
    color: #fff;
    margin: 0px;
    text-decoration: unset;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -ms-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}

.navBarWrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1060;
}

.btn.btn-info:hover .signUpText {
    color: #fff;
}

a.text-decoration-none,
.text-decoration-none {
    text-decoration: none;
}

.loginUnstyledAnchor:hover .loginText,
.headingUnstyledAnchor:hover .headingLinkName,
.headingUnstyledAnchor:hover .headingLinkName {
    color: #008697;
}

.article-container h1 ~ ol,
.article-container h1 ~ p,
.article-container h1 ~ ul,
.article-container h2 ~ ol,
.article-container h2 ~ p,
.article-container h2 ~ ul,
.article-container h3 ~ ol,
.article-container h3 ~ p,
.article-container h3 ~ ul,
.article-container h4 ~ ol,
.article-container h4 ~ p,
.article-container h4 ~ ul,
.article-container h5 ~ ol,
.article-container h5 ~ p,
.article-container h5 ~ ul,
.article-container h6 ~ ol,
.article-container h6 ~ p,
.article-container h6 ~ ul,
h1 ~ ol,
h1 ~ p,
h1 ~ ul,
h2 ~ ol,
h2 ~ p,
h2 ~ ul,
h3 ~ ol,
h3 ~ p,
h3 ~ ul,
h4 ~ ol,
h4 ~ p,
h4 ~ ul,
h5 ~ ol,
h5 ~ p,
h5 ~ ul,
h6 ~ ol,
h6 ~ p,
h6 ~ ul {
    margin-top: 1.125rem;
}

.article-container ol,
.article-container p,
.article-container ul,
ol,
p,
ul {
    margin-bottom: 1.5rem;
}

button,
input,
li,
p,
select,
textarea {
    font-size: inherit;
    line-height: inherit;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/**
*
* Generic
*
**/
p,
ul,
.article-container p,
.article-container ul,
p,
ul {
    margin-bottom: 1.6875rem;
}

.article-container ol,
.article-container p,
.article-container ul,
ol,
p,
ul {
    margin-bottom: 1.5rem;
}

button,
input,
li,
p,
select,
textarea {
    font-size: inherit;
    line-height: inherit;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size: 100%;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    vertical-align: baseline;
}

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1.125rem;
    line-height: 1.5;
}

body {
    color: #454545;
}

body,
html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    line-height: 1;
}

.article-container ol ~ h2,
.article-container ol ~ h3,
.article-container ol ~ h4,
.article-container ol ~ h5,
.article-container p ~ h2,
.article-container p ~ h3,
.article-container p ~ h4,
.article-container p ~ h5,
.article-container ul ~ h2,
.article-container ul ~ h3,
.article-container ul ~ h4,
.article-container ul ~ h5,
ol ~ h2,
ol ~ h3,
ol ~ h4,
ol ~ h5,
p ~ h2,
p ~ h3,
p ~ h4,
p ~ h5,
ul ~ h2,
ul ~ h3,
ul ~ h4,
ul ~ h5 {
    margin-bottom: 1.125rem;
    margin-top: 1.75rem;
}

h2,
h3 {
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #244564;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.875rem;
}

h2,
h3,
h4,
h5,
h6 {
    color: #244564;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: normal;
}

h1,
h2,
h3,
h5 {
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
}

h5,
h6 {
    font-size: 1rem;
    font-weight: 700;
}

h4,
h6 {
    font-family: KlinicSlab;
    font-style: italic;
    font-weight: 700;
}

.productHero {
    position: relative;
    overflow: hidden;
    padding: 2rem;
}

.Hero {
    background: linear-gradient(145deg, #0c95a7, #e5fafd);
}

/**
*
* Privacy
*
**/


.privacySubHeading {
    font-style: italic !important;
    font-size: 1.625rem;
    color: #25384f;
}

.headingInPrivacyHero {
    color: #25384f;
    font-size: 4.5rem;
    line-height: 4.875rem;
    font-weight: 700;
}

/**
*
* Footer
*
**/

.footerInternal .navWithHeader .d-block a:-webkit-any-link:hover,
.footerInternal .navWithHeader .d-block a:any-link:hover,
a.color-white:hover {
    text-decoration: underline;
}

.footerInternal nav {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    padding: 16px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
}

.footerInternal header {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.15;
    margin-bottom: 8px;
    color: #495257;
    letter-spacing: 1px;
}


.footerInternal .navWithHeader .d-block a:-webkit-any-link,
.footerInternal .navWithHeader .d-block a:any-link {
    color: #69757a;
    text-decoration: none;
}

.footerInternal span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    margin-bottom: 8px;
    white-space: nowrap;
}



.footerContainer,
.step1Feature {
    margin: auto;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footerContainer {
    padding: 16px 16px 128px;
}


.footerInternal,
.step1Image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(25.46296vw + 204.44444px);
    max-width: 510px;
    padding: 64px 0 16px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}


a.button,
a:-webkit-any-link.button,
a:any-link.button {
    display: inline-block;
    min-width: 274px;
    padding: 19px 25px;
    line-height: 1.375em;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all .28s cubic-bezier(.4, 0, .2, 1);
}

a.button:active,
a.button:focus,
a.button:hover {
    outline: none;
}

.article-container a,
.article-container a:-webkit-any-link,
.article-container a:any-link {
    color: #009aae;
    font-weight: 900;
    text-decoration: none
}

.article-container a:hover,
.article-container a:-webkit-any-link:hover,
.article-container a:any-link:hover {
    color: #018798;
    text-decoration: underline;
}

.footerCopyright {
    color: #b6bec2;
    font-size: 14px;
    text-align: left;
    white-space: nowrap;
    padding-left: 24px;
}

.article-container {
    max-width: 1440px;
    padding: 7.77778% 8.47222%;
    padding-top: 7.77778%;
    padding-bottom: 7.77778%;
}

/**
*
*  Menu Bar Mobile
*
**/
.mobileMenuButton {
    cursor: pointer;
    position: relative;
    z-index: 1;
    height: 22px;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
}

.mobileMenuBars {
    position: relative;
    width: 22px;
    height: 2px;
    background:
        #69757a;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.mobileMenuButton:hover {
    opacity: 0.8
}

.mobileMenuBars {
    position: relative;
    width: 22px;
    height: 2px;
    background: #69757a;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

.mobileMenuBars::before,
.mobileMenuBars::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 2px;
    background: #69757a;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-transform: none;
    transform: none
}

.mobileMenuBars::before {
    top: -6px
}

.mobileMenuBars::after {
    bottom: -6px
}


.is-open .mobileMenuBars {
    background: transparent;
    -webkit-transition: none;
    transition: none
}

.is-open .mobileMenuBars::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.is-open .mobileMenuBars::after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.is-open .mobileBannerMenu {
    visibility: visible;
    opacity: 1
}

.mobileBannerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    -webkit-transition: 150ms opacity, 150ms visibility;
    transition: 150ms opacity, 150ms visibility;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.mobileBannerMenuNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 220px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.mobileBannerMenuNav a {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    border-bottom: 2px solid #f5f7f8;
    color: #495257;
    line-height: 2.4;
    text-decoration: none;
    -webkit-transition: color 150ms;
    transition: color 150ms
}

.mobileBannerMenuNav a:hover {
    color: #69757a;
    text-decoration: none
}

.mobileBannerMenuSocialNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 32px;
    left: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.mobileBannerMenuSocialNav a {
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms
}

.mobileBannerMenuSocialNav a:hover {
    opacity: 0.8
}

.mobileBannerMenuNav a {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    border-bottom: 2px solid #f5f7f8;
    color: #495257;
    line-height: 2.4;
    text-decoration: none;
    -webkit-transition: color 150ms;
    transition: color 150ms;
}

.logoHeader #path14,
.logoHeader #path16,
.logoHeader #path18,
.logoHeader #path20,
.logoHeader #path22,
.logoHeader #path42 {
    fill: #43b2c6;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
}

.logoHeader #path24,
.logoHeader #path26,
.logoHeader #path28,
.logoHeader #path30,
.logoHeader #path32,
.logoHeader #path34,
.logoHeader #path36,
.logoHeader #path38,
.logoHeader #path40 {
    fill: #f1419a;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
}

.article-container .footerInternal a:-webkit-any-link:hover,
.article-container .footerInternal a:any-link:hover,
.footerLink:hover {
    text-decoration: underline;

}

.footerLink:hover {
    text-decoration: underline;

}

.article-container .footerInternal a:-webkit-any-link,
.article-container .footerInternal a:any-link,
.footerLink {
    color: #69757a;
    text-decoration: none;
    font-weight: 400;
}

.footerLink {
    color: #69757a;
    text-decoration: none;
    font-weight: 400;
}

/**
*
* Search 
*
**/

.tripleNineColor {
    color: #999;
}

#searchArticle {
    width: 100%;
    padding: 20px 32px 21px 59px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
    -webkit-transition: background .4s, -webkit-box-shadow .2s;
    transition: background .4s, -webkit-box-shadow .2s;
    -o-transition: background .4s, box-shadow .2s;
    transition: background .4s, box-shadow .2s;
    transition: background .4s, box-shadow .2s, -webkit-box-shadow .2s;
}

#searchArticle::-webkit-input-placeholder {
    color: inherit
}

#searchArticle:-moz-placeholder {
    color: inherit
}

#searchArticle::-moz-placeholder {
    color: inherit
}

#searchArticle:-ms-input-placeholder {
    color: inherit
}

#searchArticle:hover {
    background: rgba(255, 255, 255, 0.27);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03)
}

#searchArticle:active,
#searchArticle:focus {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.14);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.14);
    background: white;
    color: #3a3c4c
}

#searchArticle:active::-webkit-input-placeholder,
#searchArticle:focus::-webkit-input-placeholder {
    color: #9fa0a8
}

#searchArticle:active:-moz-placeholder,
#searchArticle:focus:-moz-placeholder {
    color: #9fa0a8
}

#searchArticle:active::-moz-placeholder,
#searchArticle:focus::-moz-placeholder {
    color: #9fa0a8
}

#searchArticle:active:-ms-input-placeholder,
#searchArticle:focus:-ms-input-placeholder {
    color: #9fa0a8
}

#searchArticle .search-submit {
    padding: 20px 59px 21px 32px
}

.search-submit {
    width: 22px;
    height: 22px;
    border: none;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 19px;
    margin-top: -10px;
    outline: none;
    cursor: pointer;
    -webkit-transition: -webkit-transform .1s linear;
    transition: -webkit-transform .1s linear;
    -o-transition: transform .1s linear;
    transition: transform .1s linear;
    transition: transform .1s linear, -webkit-transform .1s linear
}

.search-submit {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85)
}

.search-submit:before {
    content: ' ';
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px
}

.search-submit:after {
    content: ' ';
    border-top: 2px solid white;
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 12px;
    height: 1px;
    -webkit-transition: width .1s linear;
    -o-transition: width .1s linear;
    transition: width .1s linear;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.search-submit {
    left: 9.1rem;
    right: auto;
    top: -2.25rem;
}

.search-clear-text-icon {
    position: absolute;
    right: 14%;
    top: -2.1rem;
    width: 32px;
    height: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -14px
}

#searchArticle:focus + .searchIconAndResult .search-icons .search-submit:before,
#searchArticle:focus + .searchIconAndResult .search-icons .search-submit:after,
#searchArticle:active + .searchIconAndResult.search-icons .search-submit:before,
#searchArticle:active + .searchIconAndResult .search-icons .search-submit:after {
    border-color: #9fa0a8
}

#searchArticle:focus + .searchIconAndResult .search-icons .interface-icon path,
#searchArticle:active + .searchIconAndResult .search-icons .interface-icon path {
    fill-opacity: 1
}

.interface-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    text-align: center
}

.interface-icon path {
    fill: #9fa0a8 !important;
    fill-opacity: 0.01
}

.header-title {
    color: white;
    padding: 35px 0;
    margin-bottom: 7px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    position: relative;
    z-index: 10;
    background-size: cover;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    background-position: 50%;
}

.search-icons {
    position: relative;
    margin-left: 1rem;
}

#searchArticleDD {
    display: block;
    padding: 20px 32px 21px 59px;
    background: rgb(255, 255, 255, 0.9);
    border: 0;
    outline: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
    -webkit-transition: background .4s, -webkit-box-shadow .2s;
    transition: background .4s, -webkit-box-shadow .2s;
    -o-transition: background .4s, box-shadow .2s;
    transition: background .4s, box-shadow .2s;
    transition: background .4s, box-shadow .2s, -webkit-box-shadow .2s;
    height: auto;
    max-height: 20rem;
    overflow-y: scroll;
}

.autocomplete-items .dropdown-item {
    white-space: pre-wrap;
}


#searchArticleDD .dropdown-item {
    color: #000;
    text-align: left;
    cursor: pointer;
    padding: .75rem 1.25rem .75rem .75rem position: relative;
    width: auto;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    color: #333;
    font-weight: normal;
    text-decoration: none;
    font-size: .8125rem;
    border-radius: .125rem;
    margin: 0 .3125rem;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    min-width: 7rem;
    padding: .625rem 1.25rem;
    overflow: hidden;
    line-height: 1.428571;
    text-overflow: ellipsis;
    word-wrap: break-word
}

#searchArticleDD .dropdown-item:hover,
#searchArticleDD .dropdown-item:focus {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    background-color: #00bcd4;
    color: #fff
}

#searchArticleDD .dropdown-menu .dropdown-item:hover,
#searchArticleDD .dropdown-menu .dropdown-item:focus,
#searchArticleDD .dropdown-menu a:hover,
#searchArticleDD .dropdown-menu a:focus,
#searchArticleDD .dropdown-menu a:active,
#searchArticleDD .autocomplete-active {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
    background-color: #00bcd4;
    color: #fff;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.helpResult .material-icons,
.helpResult svg {
    color: #244564;
    font-size: 3rem;
}

#showAccounts path {
    fill: #244564;
}

.headerResult {
    font-style: normal;
    background-size: 100px auto;
    background-repeat: no-repeat;
    background-position: center top;
    color: #585858;
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    padding: 10px 0 10px 0;
}

.category {
    padding: 2em 0.5em;
}

.category {
    text-align: center;
    display: inline-block;
    border: 1px solid #e0e0e0;
    margin: 0 .8% 20px;
    padding: 1.5em 1em;
    cursor: pointer;
    -webkit-transition: background .15s;
    -moz-transition: background .15s;
    -o-transition: background .15s;
    transition: background .15s;
    vertical-align: top;
    text-decoration: none;
}

.category:hover {
    background-color: #fff;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
}

.category:hover {
    text-decoration: none;
    background: #f8f8f8;
}

.category p {
    color: #b3b3b3;
}

.category .article-count {
    color: #00bcd4;
}

.categoryTitle {
    background-color: aliceblue;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 6rem;
    height: 6rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@-webkit-keyframes FadeInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes FadeInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.fadeOut {
    -webkit-animation: 0.8s ease FadeOut;
    -moz-animation: 0.8s ease FadeOut;
    animation: 0.8s ease FadeOut;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes FadeOut {
    from {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }

    to {
        -webkit-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0);
        opacity: 0
    }
}

@keyframes FadeOut {
    from {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }

    to {
        -webkit-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%%, 0);
        opacity: 0
    }
}

.heading-search {
    display: block;
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 4rem;
    font-weight: 900;
    color: rgba(255, 255, 255);
}

.sticky-header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 4rem;
}

#category-nav .category-item a {
    font-weight: normal;
    color: #222;
    font-size: 1rem;
    line-height: 1.2rem;
    -webkit-letter-spacing: 0px;
    -moz-letter-spacing: 0px;
    -ms-letter-spacing: 0px;
    letter-spacing: 0px;
    text-decoration: none;
}

#category-nav .category-item {
    margin: 0.2rem 0 1rem;
    padding-left: 0.4rem;
}

#category-nav .category-item a.active {
    color: #00bcd4;
    font-weight: 600;
}

.articleContainer {
    background: #fff;
    border: 1px solid #e9e5e5;
    color: #222;
    min-height: 460px;
    padding: 45px 46px;
    position: relative;
}

#article-title,
.article-title {
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.85rem;
    font-weight: 900;
    color: #12323d;
    margin-bottom: 0.3rem;
}

.article-title {
    font-size: 2.35rem;
}

#article-description {
    font-size: 1rem;
    color: #999;
    margin-top: 0.2rem;
}

.crumbAnchor,
.nextCrumb {
    color: #5d5353;
    margin-right: 0.35rem;
    text-decoration: none;
}

.crumbAnchor:hover,
#category-nav .category-item a:hover,
.sub-category-li .sub-category-link:hover {
    text-decoration: underline;
}

.sub-category-li {
    list-style-type: none;
    margin: 1rem 0;
    font-size: 1rem;
}


.sub-category-li .material-icons {
    color: #12323d;
    margin-right: 0.3rem;
}

.sub-category-li .sub-category-link {
    font-weight: bold;
    color: #00aec5;
    text-decoration: none;
}

.call-to-attention {
    background: #f3feff none repeat scroll 0 0;
    border-left: .33rem solid #00bcd4;
    color: #333;
    font-size: 0.9rem;
    margin-bottom: 2em;
    padding: 1rem 1.7rem 1rem 1.3rem;
}

.cardFooter,
.contactUs {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #999;
    font-size: 0.9rem;
}

.contactUs {
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: font-weight .3s linear;
    -moz-transition: font-weight .3s linear;
    -ms-transition: font-weight .3s linear;
    -o-transition: font-weight .3s linear;
    transition: font-weight .3s linear;
}

.contactUs:hover {
    font-weight: 600;
}

.article-image {
    border-radius: 0;
    border: 1px solid #d7d7d7;
    width: 40rem;
    margin: 2rem 0;
}

.article-image.b-none,
.b-none {
    border: none;
}

.article-image.half-width {
    width: 20rem;
}

.article-image.w-30 {
    width: 30rem;
}

.item-container {
    padding: 1rem 1rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;
}

.item-container .icon {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    min-width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -8px 0 0 10px;
    color: #fff;
    background-color: #00aec5;
}

.item-container .copy-container {
    padding-left: 26px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-container .copy-container .description {
    font-size: 14px;
    line-height: 1.71;
    color: #6c767f;
}

.w-80 {
    width: 80%;
}

.article-anchor {
    color: #00bcd4;
}

.article-anchor:hover {
    text-decoration: underline;
}

@-webkit-keyframes FadeInRight {
    from {
        -webkit-transform: translate3d(75px, 0, 0);
        transform: translate3d(75px, 0, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes FadeInRight {
    from {
        -webkit-transform: translate3d(75px, 0, 0);
        transform: translate3d(75px, 0, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}


@-webkit-keyframes FadeInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes FadeInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.labelEmail {
    display: block;
    font-weight: 700;
    padding: .3em 0 .1em;
    width: 100%;
    color: #383e41;
}

#emailIdAUD,
.askUsDirectlyText {
    border: 2px solid #88979d;
    font-size: 1em;
    margin-bottom: .5em;
    padding: .5em;
    width: 80%;
    margin-top: 0.5rem;
}

#emailIdAUD:focus,
.askUsDirectlyText:focus {
    border: 2px solid #00bcd4;
}

.askUsDirectlyText {
    height: 20rem;
}

.h-eighteen-rem {
    height: 18rem;
}

.position-absolute-center {
    top: 50%;
    left: 50%;
}

.coming-soon {
    top: 40%;
    left: 35%;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #d8d8d8;
    font-size: 70%;
    font-weight: 300;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #d8d8d8;
    font-size: 70%;
    font-weight: 300;
}

::placeholder {
    color: #d8d8d8;
    font-size: 70%;
    font-weight: 300;
}

.ksbordertop.row {
    border-bottom: 1px solid rgba(128, 128, 128, 0.84);
}

@media (max-width: 576px) {
    .articleContainer {
        padding: 2.7rem 0.3rem;
    }

    .article-image {
        width: 17rem;
    }

    #searchArticleDD {
        padding: 0.2rem;
    }

    .search-submit {
        left: 1.6rem;
    }

    #helpSearch,
    .helpResult,
    .categoryResult {
        padding: 0.11rem 0.11rem 0 0.17rem;
    }

    .footerInternal {
        padding-top: 1rem;
    }


    .mobileBannerMenuSocialNav .col-6 .btn-info {
        margin-left: 2rem;
    }
}

@media (min-width: 767px) and (max-width: 840px) {

    #helpSearch,
    .helpResult,
    .categoryResult {
        padding: 6rem 2rem 0.7rem;
    }
}

@media (min-width: 841px) {

    #helpSearch,
    .helpResult,
    .categoryResult {
        padding: 4rem 4rem 0 7rem;
    }
}


@media (min-width: 768px) {

    .article-image {
        width: 20rem;
    }


    .footerContainer,
    .step1Feature {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footerContainer {
        padding: 8rem 5rem 2rem;
    }

    .footerOther,
    .step1Text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footerInternal {
        padding: 1rem 1rem;
        margin-right: 5rem;
    }

    .footerInternal nav {
        padding-top: 0;
    }

    h4,
    h5,
    h6 {
        font-size: 1.625rem;
    }

    #searchArticleDD .dropdown-item {
        padding-right: 1.5rem;
        padding-left: 1.5rem
    }
}

@media (min-width: 769px) {

    p,
    ul {
        margin-bottom: 1.6875rem;
    }
}

@media (min-width: 770px) and (max-width: 1049px) {
    .article-image {
        width: 25rem;
    }
}

@media (min-width: 1050px) and (max-width: 1150px) {
    .article-image {
        width: 32rem;
    }
}

@media (min-width: 1050px) {
    .article-image {
        width: 40rem;
    }
}

@media (min-width: 992px) {

    #helpSearch,
    .helpResult,
    .categoryResult {
        padding: 7rem 7rem 0 7rem;
    }

    .text-animation {
        opacity: 0;
    }

    .fadeInUp {
        -webkit-animation: 0.8s ease FadeInUp;
        -moz-animation: 0.8s ease FadeInUp;
        animation: 0.8s ease FadeInUp;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .fadeInRight {
        -webkit-animation: 0.8s ease FadeInRight;
        -moz-animation: 0.8s ease FadeInRight;
        animation: 0.8s ease FadeInRight;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .fadeInDown {
        -webkit-animation: 0.8s ease FadeInDown;
        -moz-animation: 0.8s ease FadeInDown;
        animation: 0.8s ease FadeInDown;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
}

@media (min-width: 1200px) {
    .footerContainer {
        max-width: 1200px;
    }
}
